@model List<ControleEstoque.Web.Models.UsuarioModel>
@{
    Layout = "~/Views/Shared/_Cadastro.cshtml";
    ViewBag.Title = "Cadastro de Usuários";
}

@section Styles {
    <link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/Content/Cadastro/Usuario.css" rel="stylesheet" />
}

@section TituloGrid{
    <th>Nome</th>
    <th>Login</th>
    <th>Ação</th>
}

@section LinhaGrid {
    @{
        var linha = 0;
        foreach (var item in Model)
        {
            linha++;
            if (linha <= ViewBag.MaxLinhasPorPagina)
            {
                <tr data-id="@item.Id">
                    <td>@item.Nome</td>
                    <td>@item.Login</td>
                    <td>
                        <a id="btn_alterar" class="btn btn-primary btn-alterar" role="button"><i class="glyphicon glyphicon-pencil"></i> Alterar</a>
                        <a id="btn_excluir" class="btn btn-danger btn-excluir" role="button"><i class="glyphicon glyphicon-trash"></i> Excluir</a>
                    </td>
                </tr>
            }
            else
            {
                break;
            }
        }
    }
}

@section CamposCadastro {
    <div class="row">
        <div class="form-group">
            @Html.Label("txt_nome", "Nome", new { @class = "col-md-3 control-label" })
            <div class="col-md-12">
                @Html.TextBox("txt_nome", null, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("txt_login", "Login", new { @class = "col-md-3 control-label" })
            <div class="col-md-12">
                @Html.TextBox("txt_login", null, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("txt_senha", "Senha", new { @class = "col-md-3 control-label" })
            <div class="col-md-12">
                @Html.TextBox("txt_senha", null, new { @class = "form-control", @type = "password" })
            </div>
        </div>
    </div>
}

@section Scripts{
    <script src="~/Scripts/bootstrap-select.min.js"></script>
    <script>
        var tituloPagina = '@ViewBag.Title',
            urlExclusao = '@Url.Action("ExcluirUsuarioId", "CadastroUsuario")',
            urlAlterar = '@Url.Action("ObterUsuarioId", "CadastroUsuario")',
            urlConfirmar = '@Url.Action("SalvarUsuario", "CadastroUsuario")',
            urlPaginacao = '@Url.Action("ObterUsuarioGrid", "CadastroUsuario")';
    </script>
    <script src="~/Scripts/Cadastro/Usuario.js"></script>
}